/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



/************************************************ MY STYLES ************************************************/

body{
    background: #ffffff;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
   
}

h1{
    font-size: 71px;
    line-height: 98px;
    font-weight: bold;
    margin-bottom: 30px;
}

h2{
    font-size: 48px;
    line-height: 1;
    font-weight: bold;
}

h3{
    font-size: 32px;
    font-weight: bold;
}


p{
    font-size: 100%;
    line-height: 1.5;
}

button{
    font-family: 'Open Sans', sans-serif;
}


/************************************ HEADER ************************************/

header nav {
    background:#222;
    padding: 14px;
}

header nav ul li a {
    display: block;
    color: #c78b07;
    font-size: 18px;
    line-height: 21px;
    padding-top: 21px;
    padding-bottom: 20px;
    
    text-align: center;
    text-decoration: none;
    
}

header nav ul li.nav-home a{
    display: block;
    background: #c78b07;
    color: #222;
    text-align: center;
    width: 100%;
    

}  

header div.logo-image{
    background: #c78b07;
    padding-top: 18px;
    padding-bottom: 18px;
    width: 100%;
}

#search{
    height: 40px;
    width: 636px;
    border: 6px #797979 ;
    
}

header form{
    display: flex;
}

input{
    flex-grow: 1;
}

header form button{
    font-size: 18px;
    flex-grow: 2;
    background-color: #222;
    color:#c78b07;
    border-color: #c78b07;
}

/******************************* INTRO - WELCOME TO THREE STAR MEDIA *******************************/


header .intro {
    background-image: url('../images/main-banner.jpg');
    background-size: cover;
    background-position: center center;
    height: 600px;
}

.intro .container{
    padding: 50px 56px 10px 16px;
    background-color: rgba(0,0,0,0.5);
    color: white;
    line-height: 0;
    position: absolute;
    margin-top: 68px;
    margin-bottom: 200px;
}


header .intro button{
    background-color: #c78b07;
    font-size: 21px;
    padding: 30px 45px;
    border: none;
}

header button .icon{
    font-size: 21px;
    padding-left: 14px;
}







/************************************ ABOUT SECTION ************************************/

.section-about{
    background-color: #ffe6ac;
    padding: 16px;
    margin-bottom: 38px;
    
}

.section-about  img{
    max-width: 100%; 
  
}

.about-text{
    padding-top: 41px;
    padding-bottom: 16px;
}

.about-text h2{
    padding-bottom: 30px;
}




/************************************ OUR SERVICES SECTION ************************************/

.services{
    padding: 16px;
}

.services h2{
    padding-bottom: 24px;
}
.services h3{
    padding-bottom: 30px;
}
.grid-container img{
    width: 100%;
}

.grid-container-text{
    background-color: #ffe6ac;
    padding: 42px 16px 16px 16px;
    
   
}

main .grid-container button{
    background-color: #222;
    color: white;
    font-size: 21px;
    padding: 33px 36px;
    border: none;
    margin-top: 19px;
}

main button .icon{
    font-size: 21px;
    padding-left: 14px;
}






/******************************* OUR VISION  *******************************/

.our-vision {
    padding: 16px;
    color: white;
    background-image: url('../images/vision.jpg');
    background-size: cover;
}

.our-vision h3{
    padding-top: 42px;
    padding-bottom: 30px;
}

main .our-vision button{
    background-color:#182b43;
    color: white;
    font-size: 21px;
    padding: 33px 36px;
    border-color: #c78b07 ;
    margin-top: 19px;
}

main button .icon{
    font-size: 25px;
    padding-left: 14px;
}




/******************************* OUR TEAM SECTION  *******************************/

.our-team{
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 51px;
   
}

.our-team img{
    width: 100%;
    padding-top: 24px;
}

.text-john{
    background-color: #ffe6ac;
    padding: 16px;
}

.text-bob{
    background-color: #ffe6ac;
    padding: 16px;
}

.text-john h5{
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 6px;
   
   
}

.text-bob h5{
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 6px;
   
   
}







/**************************************** CONTACT SECTION  ****************************************/

.contact{
    padding-left: 16px;
    padding-right: 16px;
}

.contact h2{
    padding-top: 75px;
    padding-bottom: 35px;
}

.contact h3{
    padding-bottom: 20px;
}

#fullname{
    width: 100%;
    height: 30px;
    margin-top: 8px;
}

#email{
    width:100%;
    height: 30px;
    margin-top: 8px;
}

#message{
    width: 100%;
    height: 148px;
    margin-top: 8px;
}

#send-button{
    background-color: #222;
    color: #c78b07;
    border: none;
    margin-top: 18px;
    width: 61px;
    height: 33px;
    
}






/********* HOURS OF OPERATION SECTION  *********/

table, th, td {
    border: 1px solid black;
  }

table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 24px;
  }

th{
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #ffe6ac;
}



td{
    padding: 20px 0 20px 14px;
}




/******* LOCATION SECTION  *******/


iframe{ 
    width: 100%
}




/********* FOOTER SECTION  *********/


footer{
    background-color: #222;
    color: #c78b07;
    padding: 20px 0 14px 12px ;
}

footer p{
    padding-top: 14px;
 
}

footer p  a:visited {
    color: #c78b07;
}

footer p a{
    color: #c78b07;
}



/*********************** MEDIA QUERY Anything after 760px will get this code  ***********************/


@media screen and (min-width: 760px) {

    h1{
        font-size: 81px;
        line-height: 112px;
        font-weight: bold;
    }

    h2{
        font-size:54px;
        line-height: 1;
        font-weight: bold;
    }

    p{
        font-size: 16px;
        line-height: 1.5;
    }

    header nav{
        padding: 0;
    }

    header nav ul li.nav-home a{
        background: #c78b07;
        color: #222;
        width: 148px;
        text-align: center;
    }  

    header .logo-image{
        background: none;
        padding: 0;
    }

    .container{
        width: 760px;
        margin: 0 auto;
    }




}


/*********************** MEDIA QUERY Anything after 1200px will get this code  ***********************/


@media screen and (min-width: 1200px){


    .container{
        width: 1200px;
        
    }

    /************************************ HEADER ************************************/
   
    header nav .container{
      display: flex;
    
        
    }

    header div.logo-image{
        background: none;
        margin-top: 18px;
        margin-bottom: 18px;
    }

    header nav ul li{
        width: 148px;
         
    }

    header nav ul{
        display: flex;
        height: fit-content;
        margin-top: 54px;
    }

    #search{
        height: 43px;
        width: 220px;
        border: 6px #797979 ;
        margin-top: 42px;
    }

    header form button{
        font-size: 18px;
        height: 45px;
        width: 40px;
        background-color: #222;
        color:#c78b07;
        border-color: #c78b07;
        margin-top: 42px;
    }

    header nav .container form{
        margin: 20px;
    }


    /******************************* INTRO - WELCOME TO THREE STAR MEDIA *******************************/


    .intro .container {
        width: 1200px;
        display: block;
        margin-top: 47px;
        margin-left: 120px;
        background-color: pink;
        
    }



    .section-about  img{
        max-width: 575px; 
        margin-right: 16px;
        margin-bottom: 8px;
    
    }
        
    .about-us{
        display: flex;
        
    }




    /************************************ OUR SERVICES SECTION ************************************/

    main .grid-container button{
        width: 100%;
    }

    

    .services .container{
        width: 1168px;
        
    }

   .grid-container{
       display: flex;
       flex-wrap: wrap;
       
   }

   .digital-transformation{
       padding-right: 16px;
       
   }

   .digital-transformation .grid-container-text{
       width: 544px;
       
   }

   .marketing .grid-container-text{
       width: 544px;
       margin-bottom: 16px;
       
   }

   .video-production {
       width: 379px;
       
      
   }

   .web-development {
       width: 378px;
       margin-left: 16px;
       margin-right: 16px;
   }
   
   .print {
    width: 379px;
    
   }




    /******************************* OUR VISION SECTION  *******************************/

  







   /******************************* OUR TEAM SECTION  *******************************/



   .our-team .container{
       
       width: 1168px;
       margin: 0 auto;
       
   }

   .team-container{
       display: grid;
       grid-template-columns: 584px 584px;
       grid-template-rows: 390px 389px;
   }

   .image-two{
       grid-area: 2 / 2 / 3 / 3 ;
       
   }

   .text-john{
       margin-top: 24px;
   }


   .image-two{
       margin-top: -24px;
   }




    /**************************************** CONTACT SECTION  ****************************************/

   .contact .container{
    display: grid;
    grid-template-columns: 584px 584px;
    grid-template-rows: 161px 390px 389px;
    background: pink;
    
   }

   .contact .container .contact{
    background: orange;
    grid-area: 1 / 1 / 2 / 3;
    margin-bottom: -30px;
    
   }

   .message{
       background: purple;
       grid-area: 2 / 1 / 3 / 2;
       padding-left: 16px;
       padding-right: 16px;
   }

   .location{
       background: green;
       grid-area: 2 / 2 / 3 / 2 ;
       padding-left: 16px;
       
   }

   .hours{
       background: lightblue;
       grid-area: 3 / 1 / 4 / 3 ;

   }
}






